<!DOCTYPE html>
<html>
<head>
  <title><%= content_for :title %></title>
  <%= stylesheet_link_tag    "tail/application", media: "all" %>
  <%= javascript_include_tag "tail/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
